/*======================================
*               General                *
======================================*/
.font__extra-big {
  font-size: 64px;
}
.font__big {
  font-size: 32px;
}
.font__normal {
  font-size: 24px;
}
.font__small {
  font-size: 12px;
}

/*======================================
*            Monoton Adams             *
======================================*/
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.monoton-adams{
  font-family: 'Monoton', cursive;
}
